body {background-color : #87CFE1}
h1 {background-color:#16748C; color:#BCFC8A; text-align:center}
.first {background-color:#16748C; color:#BCFC8A; text-align:left}
#different {background-color:#EFADE3; color:#AD2411; text-align:left}